---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="">
    <div class="grid grid-cols-1 sm:grid-cols-2 cols md:grid-cols-4 stretch">
      <div class="col">
        <h3>Clients</h3>
        <ul class="clients">
          <li>St Joost</li>
          <li>ABN AMRO</li>
          <li>Secrid</li>
          <li>One-fit</li>
          <li>HIZKIA</li>
          <li>Jungle Minds</li>
          <li>Studio Dumbar/DEPT®</li>
          <li>Basic-Fit</li>
          <li>NOS</li>
          <li>Nieuwsuur</li>
          <li>Rabobank (Peaks)</li>
          
          
        </ul>
      </div>
      <div class="col">
        <h3>Social</h3>
        <ul class="social">
          <li><a href="https://bit.ly/linkedin-mieras" target="_blank" title="Connect Maarten on Linkedin">LinkedIn</a></li>
          <li><a href="https://read.cv/mieras" target="_blank" title="Curriculum Vitae on Read.CV">Read.CV</a></li>
          <li><a href="https://instagram.com/35mieras" target="_blank" title="View more photos on Instagram">Instagram</a></li>
          <li><a href="https://the-dots.com/users/maarten-mieras-85309" target="_blank" title="Maarten Mieras on The Dots">The Dots</a></li>
          <li><a href="https://www.behance.net/mieras" target="_blank" title="Maarten Mieras on Behance">Behance</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Contact</h3>
        <ul class="contact">
          <li>Goudsesingel 136 (unit 5)</li>
          <li>3011 KD Rotterdam</li>
          <li>The Netherlands</li>
          <li><a href="tel://+31642106394" >+31642106394</a></li>
          <li><a href="mailto:mieras@gmail.com">hello@mier.as</a></li>
        </ul>
      </div>
       <div class="col">
        <h3>All This</h3>
        <p>All This is a design and branding studio that connects people and purpose through meaningful digital experiences.</p>
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="container stretch credits">
      <p>
        &copy; {currentYear} - Maarten Mieras build with <a href="https://astro.build/">Astro</a>.
      </p>
    </div>
  </section>
</footer>

<style>

  footer{
    background: var(--background);
    z-index: 10;
   
    
  }

  .cols {
     gap:1px;
  }

  .col {
padding: var(--space-s);
background: var(--background);
  }

  h3 {
    font-size: var(--fontsize-0);
    text-transform: lowercase;
  }
  .col p {
    font-size: var(--fontsize--2);
    font-family: var(--font-family-mono);
    text-transform: uppercase;
   line-height: 133%;
  }
  ul li {
    font-family: var(--font-family-mono);
    font-size: var(--fontsize--2);
    text-transform: uppercase;
    line-height: 133%;
    letter-spacing: 0.01em;
  }

  .credits {
    font-size: var(--fontsize--3);
  }
</style>


<script type="application/ld+json">

{
		"@context": "http://schema.org",
		"@type": "Person",
		"name": "Maarten Mieras",
		"jobTitle": "Digital Designer",
		"address": "Goudsesingel 136",
    "url": "https://mier.as/",
		"sameAs": [
			"https://www.facebook.com/mieras.org/",
			"https://www.linkedin.com/in/mieras/",
			"https://www.instagram.com/mieras/"
		],
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Goudsesingel 136",
			"addressRegion": "ZH",
			"postalCode": "3011 KD",
			"addressLocality": "Rotterdam",
			"addressCountry": "NL"
		},
		"email": "mieras@gmail.com",
		"telephone": "+31642106394",
		"image": "./assets/img/mieras-bg-01.png",
		"worksFor": {
			"@type": "Organization",
			"name": "All This",
			"url": "https://allthis.digital"
		}
	}


</script>