---
---

<section class="my-4 title lg:my-8">
  <div class="container flex flex-col stretch">
    <div class="flex-grow title">
      <h1 class="flex justify-between"><span>Maarten</span><span>Mieras</span></h1>
    </div>
    <div class="flex-grow subtitle">
      <h2 class="flex items-baseline justify-between lg:text-4xl">
        <span>Digital</span><span class="text-sm extra">(User Experience + Visual)</span><span>Designer</span>
      </h2>
    </div>
  </div>
</section>

<style>
  h1 {
    font-size: calc(14.25vw - var(--fontsize--2));
    letter-spacing: -0.0225em;
    line-height: 100%;
  }
  h2 {
    font-size: calc(11.5vw - var(--fontsize-2));
    line-height: 100%;
    letter-spacing: -0.0125em;
  }

  .extra {
    font-family: var(--font-family-mono);
    font-size: calc(2vw - 10%);
    letter-spacing: -0.25em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 100%;
  }
</style>
