---
const { class: className, ...rest } = Astro.props
---

<section class={`px-2 widget ${className}`} {...rest}>
  <p class="intro">
    I’m Maarten, a Rotterdam-based digital designer with over 20 years of experience helping businesses transform their
    digital experiences.
  </p>
  <p>
    My expertise spans UX/UI, Visual, and Product Design, with a strong focus on creating intuitive, engaging, and
    scalable solutions. Through my work at All This and previous freelance projects, I’ve helped brands like NOS, WNF,
    OneFit, and Secrid not only revamp their online presence but also improve usability and user satisfaction.
  </p><p>
    My design process is user-centered and highly collaborative, ensuring that the end product not only looks great but
    also serves its purpose efficiently. Whether you need to fine-tune your user experience or build a product from
    scratch, I’m here to bring a fresh perspective and design solutions that work.
  </p>
  <ul class="flex flex-col items-stretch gap-2 actions">
    <li><a href="mailto:mieras@gmail.com" class="rounded-full button mail"><span>e-mail</span></a></li>
    <li><a href="tel://+31642106394" class="button phone"><span>call</span></a></li>
    <li><a href="https://bit.ly/linkedin-mieras" class="button linkedin"><span>linkedin</span></a></li>
  </ul>
</section>

<style>
  .widget {
    background: #fd8962;
  }

  p {
    font-size: var(--fontsize--1);
    font-weight: 700;
    line-height: 112.5%;
    /* text-transform: uppercase; */
    text-wrap: stable;
    color: var(--font-color);
  }
  .intro {
    font-size: var(--fontsize-1);
    line-height: 112.5%;
    text-wrap: balance;
  }

  p + p {
    margin-block: 1rem;
  }

  ul {
    padding: 0;
  }

  .button {
    display: flex;

    justify-content: center;
    color: (var(--color-text));
    font-size: var(--fontsize-1);
    padding-block: var(--space-s);
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border-radius: var(--radius-large);
    background: var(--background);
    border-color: var(--background);
    cursor: pointer;
  }

  .button:hover {
    background: var(--action-color);
    border-color: var(--action-color);
    color: var(--font-color);
  }

  .button:hover span {
    display: none;
  }

  .mail:hover:before {
    content: 'hello@mier.as';
    cursor: pointer;
  }
  .phone:hover:before {
    content: '+31(6)42106394';
    cursor: pointer;
  }
  .linkedin:hover:before {
    content: 'connect';
    cursor: pointer;
  }
</style>
